


  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@500&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



  * {
    font-family: 'Roboto', sans-serif; 
    /* font-family: 'Ubuntu', sans-serif; */
}

body {
    background-color: #eff2f9;

}

.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-wrapper {
    display: grid;
    /* border: 2px solid rgb(255, 6, 6); */
    grid-template: 100px 80px auto / 100%;
}

/* .nav {
    display: flex;
    align-items: center;
}
li {
    flex: 1;
    list-style: none;
    text-align: center;
    border: 1px dashed red;
} */
.track {
    /* border: 1px solid #c60bff; */
    text-align: center;
}

.inner-flex {
    display: flex;
    gap: 20px;
}
.item {
    height: 450px;
    width: 280px;
    background-color: #fff;
    border-radius: 5px;
}

.track > h1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.track > p {
    color: #64646480;
    font-size: 16px;
    font-weight: 600;
}

.price {
    margin: 25px 0 10px 0;
    font-family: 'Poppins', sans-serif;
}
.tag {
    margin-top: 42px;
}

.popular {
    font-size: 11.5px;
    padding: 3px; 
    margin-top: 0;
    width: 100px;
    border-radius: 0 0 3px 3px;
    color:#339d5d;
    background-color: rgba(34, 139, 34, 0.103);
    position: relative;
    left: 90px;
    font-family: 'Poppins', sans-serif;
}

 .months {
    color: #64646480;
    font-size: 10px;
    font-weight: 700;
}


button {
    height: 45px;
    width: 230px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
}
.btn {
    margin-top: 80px;
    color: #fff;
    background-color: #2196f3;
}
.btn-1 {
    color: #fff;
    margin-top: 37px;
   background-color: #339d5d;
}

.icon {
    color: #339d5d;
}

.inner-flex > * {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}
/* NOTE NOTE NOTE */
 .item > p {
    font-size: 13px;
    margin: 13px;
}

@media(max-width: 1000px) {
    .track > h1 {
        font-size: 25px;
    }
    .track > p {
        font-size: 14px;
    }

    .inner-flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }  
}
@media(max-width: 600px) {
    h1 {
        font-size: 25px;
    }
}